*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

footer{
    background-color: rgb(23, 23, 23);
    font-family: "NetflixSansLight";
}

.social_icons{
    width: 65%;
    display: flex;
    margin: 0 auto;
    gap: 10px;
}

.social_icons i{
    color: white;
    padding: 10px;
    font-size: 22px;
}

.links{
    width: 65%;
    display: flex;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.links a{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: rgb(119, 119, 119);
    text-decoration: none; 
    line-height: 2;
    font-size: 15px;
}

.links a:hover{
    text-decoration: underline;
}

.button_container{
    width: 43%;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 20px;
}

button{
    background-color: transparent;
    color: rgb(119, 119, 119);
    border: 1px solid rgb(119, 119, 119);
    font-size: 13px;
    padding: 6px 6px;
    margin-bottom: 20px;
    display: inline;
    justify-content: center;
    margin: 0 auto;
}

button:hover{
    color: white;
}

.end{
   color: rgb(119, 119, 119);
   font-size: 12px;
   padding-bottom: 17px;
   width: 65%;
   display: flex;
   margin: 0 auto;
}